@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600);


:root 
{
   display: flex;
  --main__text-color: rgb(80, 80, 80); 
  --main__border-color: #ccc; 
  --description-text-light: rgba(255, 255, 255, 0.6); 
  --description-text-dark: #505155; 
  --button-color: #14a9ee; 
  --dash-color: rgb(238,46,20);
  --text-accordion-color: rgba(169, 169, 169); 
  --text-description-color: rgb(112, 112, 112);
  --title-light-color: #f5f5f5; 
  --subtitle-light-color: rgba(255, 255, 255, 0.6); 
  --subtitle-dark-color: rgb(111, 115, 128); 
  --background-dark-color: rgb(35, 36, 40); 
}

.contact_us{
  background: url(..//img/green_waterfall_contact_us.png) 70% 20%;
  background-repeat: no-repeat;
  background-position-y: center;
  background-size: 140%;
  display: flex;

}

.contact_us-span
{
  color: rgb(238,46,20);
  display: flex;
}

.contact_us_info{
  color: rgba(255,255,255,0.6);
  font-family: Roboto, sans-serif;
  display: flex;
}


.contact_us-container{
  display: flex;
  align-items: center;
  width: 100%;
  height: 900px;
}

.container_form{
  display: flex;
  align-items: center;
  text-align: center;
  height: 550px;
  max-width:500px;
  width:100%;
  margin:0 auto;
  position:relative;
  background-color: var(--background-dark-color);
}

#join_us input[type="text"], #join_us input[type="email"], #join_us input[type="tel"], #join_us input[type="text date"], #join_us input[type="url"], #join_us textarea, #join_us button[type="submit"]  { 
  font:600 12px/16px "Open Sans", Helvetica, Arial, sans-serif; }

#join_us {
  background-color: var rgb(35, 36, 40);
  padding:25px;
  margin:30px 0;
  display: flex;
}

h3{
  font-family: 'Playfair Display', serif;
  color: var(--title-light-color);
  display: block;
  font-size: 45px;
  font-weight: 400;
  margin-bottom: 5%;
}

h4{
  color: var(--faq__subtitle_text-color);
  margin:5px 0 15px;
  display:block;
  font-size:13px;
  margin-bottom: 10%;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
  display: flex;
}

#join_us input[type="text"], #join_us input[type="email"], #join_us input[type="tel"], #join_us input[type="text date"], #join_us input[type="url"], #join_us textarea {
  width:100%;
  border:1px solid #CCC;
  background:#FFF;
  margin:0 0 5px;
  padding:10px;
  display: flex;
}

#join_us input[type="text"]:hover, #join_us input[type="email"]:hover, #join_us input[type="tel"]:hover, #join_us input[type="text date"]:hover, #join_us input[type="url"]:hover, #join_us textarea:hover {
  -webkit-transition:border-color 0.3s ease-in-out;
  -moz-transition:border-color 0.3s ease-in-out;
  transition:border-color 0.3s ease-in-out;
  border:1px solid #AAA;
  display: flex;
}

#join_us textarea {
  height:100px;
  max-width:100%;
  resize:none;
  display: flex;
}

#join_us button[type="submit"] {
  cursor:pointer;
  width:100%;
  border:none;
  background:var(--button-color);
  color:#FFF;
  margin:0 0 5px;
  padding:10px;
  font-size:15px;
  display: flex;
}

#join_us button[type="submit"]:hover {
  background:var(--dash-color);
  -webkit-transition:background 0.3s ease-in-out;
  -moz-transition:background 0.3s ease-in-out;
  transition:background-color 0.3s ease-in-out;
  display: flex;
}

#join_us button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#join_us input:focus, #join_us textarea:focus {
  outline:0;
  border:1px solid #999;
  display: flex;
}
::-webkit-input-placeholder {
 color:#888;
}
:-moz-placeholder {
 color:#888;
}
::-moz-placeholder {
 color:#888;
}
:-ms-input-placeholder {
 color:#888;
}

@media (min-width: 1200px) { 
  .contact_us-container {
    margin-right: 960px;
  }
}

@media (max-width: 1000px) {
  .contact_us{
    background-size: 200%;
  }
}

@media (max-width: 680px) {
  .contact_us{
    background-size: 240%;
  }
}

