.contacts {
    background: url(../../img/contacts/background-contacts-to767.jpeg) no-repeat 50.94% 57.66%;
    background-size: cover;
    color: var(--text-contacts);
    padding-top: 100px;
    padding-bottom: 80px;
}

@media (min-width: 768px) {
    .contacts {
        padding-top: 140px;
        padding-bottom: 80px;
    }
}

@media (min-width: 992px) {
    .contacts {
        padding-top: 180px;
        padding-bottom: 80px;
    }
}

.contacts__item {
    min-height: 240px;
    background-color: var(--background-contacts);
    opacity: 0.65;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.contacts__item:last-child {
    margin-bottom: 0;
}

@media (min-width: 768px) {
    .contacts__list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .contacts__item {
        min-height: 280px;
        width: 48%;
    }
}

@media (min-width: 992px) {
    .contacts__item {
        margin-bottom: 0;
        min-height: 280px;
        width: 31%;
    }
}

@media (min-width: 1200px) {
    .contacts__item {
        min-height: 318px;
    }
}

.contacts__title {
    font-size: 22px;
    font-weight: 500;
    line-height: 30.8px;
    margin-bottom: 10px;
}

.contacts__details {
    font-size: 14px;
    font-weight: 400;
}

.contacts__details-link {
    color: var(--text-contacts);
    text-decoration: underline;
}

.contacts__details-link:hover {
    color: var(--text-contacts);
    text-decoration: none;
}

@media (min-width: 768px) {
    .contacts {
        background-image: url(../../img/contacts/background-contacts-from768.jpeg);
    }
}

@media (min-width: 1200px) {
    .contacts {
        background: url(../../img/contacts/background-contacts-from1200.jpeg) no-repeat 50.94% 19.66%;
    }
}

.contacts__img {
    width: 50px;
    margin-bottom: 10px;

}

