/* FAQ */
.faq {
    background-color: var(--background-dark-color);
    color: var(--text-color);
    margin: 0;
    padding: 60px 0 90px 0;
}

h3 {
    margin-bottom: 0;
}

.faq__container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.faq__info, .faq__photo {
    margin: 0;
    min-width: 272px; 
    padding: 5px 27px; 
}

.faq__subtitle {
    display: block;
    margin-top: 20px;
}

.faq__info-explanation {
    color: var(--description-light);
    font-size: 19px;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 1.7;
    margin-top: 25px;   
}

.faq-accordion {
    font-size: 17px;
    font-weight: 400;
    line-height: 1.7;
    margin-top: 25px;
}

.faq-accordion__wrapper {
    border-bottom: 0.001px solid var(--text-accordion-color);
    padding-bottom: 20px;
    padding-top: 20px;
}

.faq-accordion__wrapper-title {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.faq-accordion__wrapper-title__plus,
.faq-accordion__wrapper-title__plus::before {
    background-color: var(--plus-color);
    border-radius: 5px;
    content: "";
    display: block;
    height: 1.8px; 
    margin-right: 21px;
    position: relative; 
    width: 15px;
}

.faq-accordion__wrapper-title__plus::before {
    opacity: 1;
    transform: rotate(90deg); 
    transition: opacity 0.2s ease-out;
}

.faq-accordion__wrapper-title__question {
    color: var(--title-accordion-color);
    letter-spacing: .03em; 
    line-height: 1.7;
}  

.faq-accordion__wrapper-text {
    color: var(--text-accordion-color);
    display: none;
    font-size: 14px;
    padding-top: 20px;
}

.faq-accordion__wrapper.active .faq-accordion__wrapper-text {
    display: block;
}

.faq-accordion__wrapper.active .faq-accordion__wrapper-title__plus::before {
    opacity: 0; 
}

.faq__photo {
    margin-top: 50px;
}

.faq__photo-wrapper {
    position: relative;
    width: 100%;
}

.faq__photo-man {
    height: 100%;
    min-height: 251.938px;
    object-fit: cover;
    object-position: 39.903% 50%;
    width: 100%;
}

@media (min-width: 400px) {
    .faq__photo-man {
        min-height: 344.398px;
    } 
}

@media (min-width: 500px) {
    .faq__photo-man {
        min-height: 459.961px;
    }
}

@media (min-width: 600px) {
    .faq__photo-man {
        min-height: 575.531px;
    } 
}

@media (min-width: 700px) {
    .faq__photo-man {
        min-height: 691.102px;
    } 
}

@media (min-width: 768px) {
    .faq {
        padding-bottom: 110px;
        min-height: 856.850px;
    }

    .faq__container {
        align-items: flex-start;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .faq__info, .faq__photo {
        padding: 5px 28px;
        min-width: 337px;   
    }

    .faq__info {
        margin-right: 15px;
    }

    .faq__photo {
        margin: 0 0 0 15px;
    }

    .faq__photo-man {
        min-height: 324.750px;
    }
}

@media (min-width: 850px) {
    .faq {
        min-height: 824.555px;
    }

    .faq__info, .faq__photo {
        min-width: 378px; 
    }

    .faq__photo-man {
        min-height: 372.133px;
    } 
}

@media (min-width: 900px) {
    .faq__info, .faq__photo {
        min-width: 403px; 
    }

    .faq__photo-man {
        min-height: 401.023px;
    } 
}

@media (min-width: 992px) {
    .faq {
        min-height: 757.672px;
        padding-bottom: 130px;
    }

    .faq__info, .faq__photo { 
        min-width: 441px;
        padding: 5px 30px;  
    }

    .faq__photo-man {
        min-height: 440.320px;
    }
}

@media (min-width: 1050px) {
    .faq {
        min-height: 699.875px;
    }

    .faq__info, .faq__photo {
        min-width: 470px; 
    }

    .faq__photo-man {
        min-height: 473.836px;
    } 
}

@media (min-width: 1100px) {
    .faq__info, .faq__photo {
        min-width: 495px; 
    }

    .faq__photo-man {
        min-height: 502.727px;
    } 
}