.header {
    background: url(../../img/header/background-header-to767px.png) no-repeat 91.56% 51.56%;
    background-size: cover;
    color: var(--text-color-header);
}

@media (min-width: 768px) {
    .header {
        background-image: url(../../img/header/background-header-from768px.png);
    }
}

@media (min-width: 1200px) {
    .header {
        background-image: url(../../img/header/background-header-from1200px.png);
    }
}

.header__container {
    display: flex;
    flex-direction: column;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100px;
}

.header__logo-main {
    z-index: 9;
}

.main-nav__link:hover {
    color: var(--main-nav);
}

@media (max-width: 991px) {
    .main-nav {
        background-color: var(--background-main-nav);
        height: 100%;
        left: 0;
        margin: auto;
        overflow: hidden;
        padding: 100px 24px 50px 24px;
        position: fixed;
        transition: top 0.3s ease-in 0.1s;
        top: -100%;
        width: 100%;
        z-index: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    .main-nav__link {
        color: var(--text-color-header);
        font-size: 17px;
        font-weight: 600;
        margin-bottom: 15px;
    }
}

@media (min-width: 992px) {
    .main-nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .main-nav__link {
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        font-weight: 600;
        color: var(--main-nav);
        margin-right: 15px;
    }
}

/* Burger*/

body.lock {
    overflow: hidden;
}

.main-nav__burger {
    cursor: pointer;
    display: block;
    height: 20px;
    padding: 12px;
    position: relative;
    width: 30px;
    z-index: 5;
}

.main-nav__burger span,
.main-nav__burger::before,
.main-nav__burger::after {
    background-color: var(--header-button);
    height: 2px;
    left: 0;
    position: absolute;
    transition: all 0.5s ease-in-out;
    width: 100%;
}

.active

section div nav .main-nav__burger span {
    transform: scale(1);
}

.main-nav__burger::before,
.main-nav__burger::after {
    content: " ";
}

.main-nav__burger::before {
    top: 0;
}

.main-nav__burger::after {
    bottom: 0;
}

.main-nav__burger.active span {
    transform: scale(0);
}

.main-nav__burger.active::before {
    transform: rotate(-45deg);
    top: 50%;
}

.main-nav__burger.active::after {
    bottom: 40%;
    transform: rotate(45deg);
    background-color: var(--header-button);
}

@media (min-width: 992px) {
    .main-nav__burger {
        display: none;
    }
}

.main-nav.active {
    top: 0;
}

.header__wrapper.active {
    top: 0;
}

/* Burger end*/

.header-banner {
    display: flex;
    flex-direction: column;
    min-height: 600px;
    padding: 90px 0;
}

.header-banner__intro {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo-main__link {
    cursor: pointer;
}

.logo-main__image {
    width: 188px;
    height: auto;
}

.intro__title {
    margin-bottom: 60px;
    font-family: "Playfair Display", serif;
    font-size: 70px;
    font-weight: 600;
    line-height: 1;
}

.intro__text {
    margin-bottom: 20px;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
}

.intro__video-details {
    display: flex;
    margin-bottom: 55px;
}

.video-details__icon {
    width: 18px;
    height: auto;
}

.video-details__link {
    font-size: 12px;
    font-weight: 700;
    color: var(--text-color-header);
}

.video-details__link_underline {
    text-decoration: underline;
}

.next-trip__title {
    margin-bottom: 25px;
    font-size: 17px;
    font-weight: 700;
}

.next-trip__video-img {
    width: 100%;
    margin-bottom: 25px;
}

.next-trip__details-trip {
    display: block;
    margin-bottom: 20px;
    font-size: 12px;
    font-weight: 700;
}

.next-trip__text {
    margin-bottom: 40px;
    font-size: 12px;
    font-weight: 500;
    line-height: 19px;
    opacity: 0.75;
}

.details-trip__vertical-line {
    font-size: 18px;
}

.header-button {
    display: block;
    width: 120px;
    height: 34px;
    font-weight: 400;
    font-size: 13px;
    line-height: 28px;
    color: var(--header-button);
}

.header-button_border {
    border: 2px solid var(--header-button);
    text-align: center;
}

.header-button_border:hover {
    color: var(--header-button-hover);
    background-color: var(--header-button);
    font-weight: 600;
}

@media (min-width: 768px) {
    .header-banner {
        flex-direction: row;
        justify-content: space-between;
        padding: 115px 0 90px 0;
        min-height: 750px;
    }

    .intro__title {
        font-size: 125px;
    }

    .header-banner__next-trip {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 30%;
    }

    .intro__title {
        margin-bottom: 355px;
        font-size: 125px;
    }

    .intro__video-details {
        margin: 0;
    }

    .header-banner__next-trip {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 30%;
    }

    .next-trip__title {
        margin-bottom: 15px;
    }

    .next-trip__details-trip {
        margin-bottom: 20px;
    }

    .next-trip__text {
        margin-bottom: 25px;
    }
}

@media (min-width: 992px) {
    .header-banner {
        padding: 140px 0 90px 0;
        min-height: 930px;
    }

    .intro__title {
        font-size: 180px;
    }

    .intro__text {
        margin: 0;
    }

    .header-button_underline:hover {
        text-decoration: underline;
    }

    .main-nav {
        display: flex;
        min-width: 405px;
        justify-content: space-between;
    }
}