@import 'font.css';
@import 'common.css';
@import 'controls.css';
@import 'header.css';
@import 'about_us.css'; 
@import 'tour-itinerary.css';
@import 'about-norway.css';
@import 'faq.css';
@import 'places.css';
@import 'stunning-spots.css';
@import 'testimonials.css';
@import 'contacts.css';
@import 'footer.css';
@import 'contact_us.css';