.places__container{
    padding: 0 24px;
}

.places__header-title{
    font-family: Roboto, sans-serif;
    color: var(--subtitle-dark-color);
    letter-spacing: 0.39px;
    line-height: 20.8px;
}

.places__header-subtitle{
    font-family: "Playfair Display", sans-serif;
    color: var(--text-color);
    letter-spacing: 1.35px;
    line-height: 54px;
    margin-top: 20px;
    margin-bottom: 0px;
}

.places__header-description{
    font-family: Roboto, sans-serif;
    line-height: 32.3px;
    margin-top: 25px;
    margin-bottom: 0px;
    max-width: 770px;
}

.nav.nav-tabs {
    overflow-y: hidden;
    overflow-x: auto;
    flex-wrap: nowrap;
    position: relative;
    white-space: nowrap;
    padding-top: 5px;
}

.nav-link{
    color: var(--text-description-tab-color);
    font-family: Roboto, sans-serif;
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 0.51px;
    line-height: 28.9px;
    opacity: .6;
    position: relative;
}

.nav-link:hover{
    opacity: 1;
    color: var(--text-description-tab-color);
}

.nav-link.active{
    opacity: 1;
}
.nav .active::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    color: var(--title-dash);
    background-color: currentColor;
}

.places__cities-container{
    margin-top: 45px;
    min-width: 320px;
}
.places__cities{
    color: var(--text-color);
    font-family: Roboto, sans-serif;
    font-size: 17px;
    font-weight: 700;
    letter-spacing: 0.51px;
    line-height: 28.9px;
    display: flex; 
}

.places__city-name{
    flex: 1;
    margin-bottom: 0px;
    align-content: space-around;
    padding: 15px 20px;
    text-align: center;
}

.places__city-block{
    padding: 39px 43px;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.places__city-image-contaiter{
    margin: 0px 0px 20px 0px;
    padding: 0px 0px 58% 0px;
    overflow: hidden;
    position: relative;
}

.places__city-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.trondheim .places__city-image{
    object-position: 50% 80%;
}

.places__city-main-info{
    padding: 39px 0;
}

.places__city-subtitle{
    color: var(--subtitle-dark-color);
    font-family: Roboto, sans-serif;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0.39px;
    line-height: 20.8px;
    margin-top: 20px;
    margin-bottom: 0;
}

.places__city-title {
    font-family: "Playfair Display", serif;
    color: var(--text-color);
    font-size: 36px;
    line-height: 47.88px;
    margin-top: 20px;
}

.places__city-stay{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
}

.places__city-stay-duration{
    font-family: Roboto, sans-serif;
    font-size: 19px;
    font-weight: 700;
    line-height: 32.3px;
    color: var(--title-dash);
    margin-bottom: 5px;
}

.places__city-stay-hotel{
    color: var(--text-color);
    font-family: Roboto, sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 24px;
}

.places__city-description{
    font-family: Roboto, sans-serif;
    font-size: 17px;
    font-weight: 400;
    color: var(--text-description-tab-color);
    line-height: 28.9px;
    letter-spacing: 0.51px;
    margin-top: 30px;
    margin-bottom: 0;
}

.places__city-details-container{
    display: flex;
    margin-top: 20px;
    margin-bottom: 16px;
}


div[class="places__city-details-container"] img{
    max-width: 20px;
    max-height: 20px;
    vertical-align: baseline;
}

.places__city-details-text{
    font-family: Roboto, sans-serif;
    color: var(--text-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-left: 10px;
    margin-bottom: 0;
    vertical-align: baseline;
}

.places__city-button-container{
    margin-top: 35px;
    margin-bottom: 0;
}

.places__city-book-button{
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 14px;
    color: var(--text-white-color);
    background: var(--button-color);
    text-decoration: none;
    padding: 14px 20px;
    transition: 1s;
}

.places__city-book-button:hover{
    background: var(--header-button-hover);
    color: var(--text-white-color);
}


@media (min-width: 767px) {
    .places__city-block {
        display: flex;
        flex-direction: row;
        padding: 60px 70px;
    }
    .places__city-image-contaiter{
        flex: 1;
    }
    .places__city-main-info{
        flex: 1;
        padding: 60px 70px;
    }
    .places__city-stay{
        flex-direction: row;
    }
    .places__city-stay-duration{
        flex: 1;
        margin-bottom: 0;
        text-justify: auto;
    }
    .places__city-stay-hotel{
        flex: 1;
        padding-top: 6px;
        padding-left: 15px;
    }


}




