/* Section - Stunning spots*/
.stunning-spots {
    background-color: var(--background-dark-color);
    color: var(--title-light-color);
    padding: 90px 0 90px 0;
}
.subtitle-stunning-spots {
    color: var(--subtitle-light-color);
}
.subtitle-accent {
    color: var(--description-dark);
}
.description-text {
    width: 60%;
    padding-top: 30px;
    padding-bottom: 20px;
    text-align: left;
} 
.stunning-spots-carousel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    overflow: hidden;
    
}
.stunning-spots-carousel__slides {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row: 1;
    grid-gap: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative;
    width: 100%;
    height: auto;
    z-index: auto;
}
.stunning-spots-carousel__button-container-prev {
    padding-left: 0;
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255, 0.45);
    z-index: 1;
    text-align: center;
}
.stunning-spots-carousel__btn-prev {
    padding-left: 0;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    z-index: 2;
    color: #fff;
    border: none;
    background: none;
}
.stunning-spots-carousel__button-container-next {
    margin-right: 40px;
    right: 0;
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.45);
    z-index: 1;
    text-align: center;
}
.stunning-spots-carousel__btn-next {
    right: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    z-index: 2;
    color: #fff;
    border: none;
    background: none;
}

.stunning-spots-carousel__slider-dots {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 20px;
}
.slider-dots {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 10px;
    background-color: rgb(121, 121, 126);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active-slide,
.slider-dots:hover {
    background-color: rgb(255, 255, 255); 
}
.slider-dots:focus {
    background-color: rgb(255, 255, 255);
}

.stunning-spots-slide {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}
@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}
.quote__content {
    color: var(--plus-color);
    font-family: "Playfair Display", serif;
    font-weight: 600;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
}
.quote__author {
    color: var(--title-light-color);
    font-family: Roboto, sans-serif;
    font-size: 17px;
    letter-spacing: 0.51px;
    line-height: 28.9px;
    font-weight: 400;
    height: auto;
    padding-bottom: 20px;
}
.stunning-spots-slide {
    min-width: 750px;
    min-height: 750px;
    max-width: 100%;
    height: 100%;
    transition: 0.5s;
}
.image-slide {
    object-fit: cover;
    width: 100%;
    height: 100%;
    min-width: 750px;
    min-height: 750px;
    display: block;
    position: relative;
}
.image-slide:hover {
    transform:scale(1.1);
}
.quote {
    display: block;
    width: 65%;
    text-align: center;
    margin: 0 auto;
    padding-top: 90px;
    padding-bottom: 30px;
    overflow: hidden;
}
/* .quote__divider {
    right: 40px;
    top: 29px;
    padding: 0 10px; */
}
.quote__icon-path {
    position: absolute;
    text-align: center;
}
.quote__divider {
    overflow: hidden;
}
.quote__divider span {
    display: inline-block;
    vertical-align: middle;
}
.quote__divider:before,
.quote__divider:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 1px;
    background-color: var(--text-white-color);
    opacity: 0.5;
    position: relative;
}
.quote__divider:before {
    margin-left: -100%;
    left: -14px;
}
.quote__divider:after {
    margin-right: -100%;
    right: -14px;
}

.quote__divider-close span {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 1px;
    background-color: var(--text-white-color);
    opacity: 0.5;
}

@media (min-width: 320px) {
    .carousel-photos__slides {
        grid-template-columns: 1fr; 
        width: 100%;
        position: relative;
    }
    .stunning-spots-slide {
        width: 100%;
        max-height: 250px;
    }
    .image-slide {
        min-height:250px;
    }
    .quote__icon-path {
        width: 50px;
        height: 50px;
        }
    .quote__content {
        font-size: 18px;
        line-height: 33.84px;
    }
}

@media (min-width: 768px) {
    .carousel-photos__slides {
        grid-template-columns: 1fr 1fr;
        width: 100%;
        position: relative;
    }
    .stunning-spots-slide {
        min-width: 350px;
        min-height: 350px;
        max-width: 100%;
    }
    .image-slide {
        min-width: 350px;
        min-height: 350px;
    }
    .quote__icon-path {
        width: 70px;
        height: 70px;
        }
    .quote__content {
        font-size: 19px;
        line-height: 35.72px;
    }
}
@media (min-width: 992px) {
    .carousel-photos__slides {
        grid-template-columns: 1fr 1fr 1fr;
        width: 100%;
        position: relative;
    }
    .stunning-spots-slide {
       width: 100%;
        min-height: 300px;
    }
    .image-slide {
        /* min-width: 300px; */
        min-height: 300px;
    }
    .quote__icon-path {
        width: 70px;
        height: 70px;
        }
    .quote__content {
        font-size: 21px;
        line-height: 39.48px;
    }
}