
.section-testimonials {
    background: url(../img/testimonials/background_testimonials.png);
    padding: 150px 0 110px 0;
    text-align: center;
}

.testimonials-preview {
    padding: 0px 15%;
}

.testimonials-preview__content  {
    margin-top: 50px;
    margin-bottom: 40px;
}

.testimonials-carousel {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.testimonials-icons {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: auto;
}

.testimonials-person {
    margin-bottom: 30px;
    margin-top: 20px;
    font-weight: bold;
}

.testimonials-quote {
    font-size: 17px;
    color: var(--testimonials-quote-text-color);

}

.testimonials-quote-date {
    font-size: 14px;
    color: var(--text-color);
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 30px;
}

.arrow-left-3,
.arrow-right-3 {
    margin: 20px 8px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.arrow-left-3 path,
.arrow-right-3 path {
    fill: #4a4d50;
    transition: fill 0.5s ease-out;
}

.arrow-left-3 {
    transform: rotate(180deg);
}

.arrow-left-3:hover path,
.arrow-right-3:hover path {
    fill: #000;
}

.testimonials-carousel__btn-prev {
    border: none;
    background: none;
    margin-right: 40px;
}

.testimonials-carousel__btn-next {
    border: none;
    background: none;
    margin-left: 40px;
}

.testimonials-carousel__circles {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: none;
    background-color: rgb(165, 164, 164);
    margin: 10px;
}

.circle:hover {
    background-color: rgb(0, 0, 0);
}

.circle:focus {
    background-color: rgb(92, 92, 92);
}

@media (min-width: 768px) {
    .testimonials-icons {
        width: 120px;
        height: 120px;
    }
}